PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=furniture_shop
DB_DIALECT=mysql
DB_LOGGING=false
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://127.0.0.1:5500
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=a5f296cb6804f8
SMTP_PASS=ceb165e02ff857
SMTP_FROM=Furniture Shop <no-reply@furnitureshop.local>